@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300&display=swap');

* {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	/* background-color: #343541; */
	background-color: rgb(68, 70, 84);
	display: flex;
}

h1 {
	font-size: 43px;
	font-weight: 600;
	padding: 150px 0 100px;
}

.side-bar {
	background-color: #202123;
	border-right: 2px solid black;
	width: 20%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	min-height: 150vh;
	width: 80%;
	position: relative;
	margin: 0 auto;
}

.bottom-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	padding: 10px;
}

input {
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	font-size: 20px;
	padding: 12px 15px;
	border-radius: 5px;
}

input:focus {
	outline: none;
}

.input-container {
	position: relative;
	width: 100%;
	max-width: 650px;
	transform: translateY(-50%);
}

.input-container #submit {
	position: absolute;
	right: 0;
	bottom: 15px;
	cursor: pointer;
	transform: rotateZ(-30deg);
}

button {
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

nav {
	border-top: 0.5px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin: 10px;
}

.history {
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.history p {
	cursor: pointer;
}

#output {
	height: 100%;
	padding: 20px 120px;
	margin: 10px;
}

.bottom-container {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #343541;
	box-shadow: -5px -30px 30px #343541;
	width: 80%;
}
